@model MyBlog.Areas.Blog.Models.BlogModel

@{
    ViewData["Title"] = "Xóa bài viết";
}

<h1>@ViewData["Title"]</h1>

<h4 class="text-danger">Chắc chắn xóa bài viết này?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-id="@Model.BlogId">
        <input type="hidden" asp-for="BlogId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Privateblog">Bài viết của tôi</a>
    </form>
</div>
